<% provide(:title, "Edit Profile") %>
<h1>Edit Your Profile</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for @user, html: { multipart: true } do |f| %>
			<div class="center">
				<%= image_tag @user.photo.url(:medium), class: "img-polaroid", id: "profile_picture" %>
				<%= f.file_field :photo %>
				<div><%= f.check_box(:delete_photo) %><span class="checkbox-text">Reset photo</span></div>
			</div>
			<%= render 'fields', f: f %>
			<div class="center">
				<%= f.submit "Save Information", class: "btn btn-large btn-primary" %>
			</div>
		<% end %>
	</div>
</div>