<% provide(:title, "Edit Profile") %>

<%= javascript_include_tag "edit_profile" %>

<h1>Edit Your Profile</h1>

<div class="row">
	<div class="span6 offset3">
		<div class="center">
			<% if not @user.authorized_api? %>
				<%= button_to "Link to a Google account", google_authorization_path, { class: 'btn' } %>
			<% else %>
				<p>Linked to <%= @user.g_email %></p>
				<%= button_to "Unlink", unlink_path, { class: 'btn' } %>
			<% end %>
		</div>
		<%= form_for @user, html: { multipart: true } do |f| %>
			<div class="center">
				<%= image_tag @user.photo.url(:medium), class: "img-polaroid", id: "profile_picture" %>
				<%= f.file_field :photo %>
				<div><%= f.check_box(:delete_photo) %><span class="checkbox-text">Reset photo</span></div>
			</div>
			<%= render 'fields', f: f %>
			<div class="center">
				<%= f.submit "Save", id: "save_button", class: "btn btn-large btn-success", data: { loading_text: "Saving..." } %>
			</div>
		<% end %>
	</div>
</div>