<% provide(:title, "Tasks") %>

<%= button_to "New Task", task_lists_new_task_path, { class: "btn btn-primary" } %>

<% @task_lists.each do |task_list| %>
<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th><%= task_list.title %></th>
		</tr>
	</thead>
	<tbody>
	<% task_list.tasks.each do |task| %>
		<tr>
			<td>
				<%= "#{task.title}" %>
				<% if task.notes %>
				<br/>
				<%= "#{task.notes}" %>
				<% end %>
			</td>
			<td><%= "#{task.completed}" %></td>
			<td>
				<% if task.due_date %>
				<%= "#{task.due_date}" %>
				<% else %>
				No due date
				<% end %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>
<% end %>